*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
}

#parent{
    height: 100%;
    width: 100%;
    background-color: rgb(197, 228, 238);
    display: flex;
    align-items: center;
    justify-content: center;
}

#child{
    height: 60px;
    width: 60px;
    background-color: pink;
}
#child2{
    height: 60px;
    width: 60px;
    background-color: rgb(159, 68, 81);
}
#child3{
    height: 60px;
    width: 60px;
    background-color: rgb(80, 9, 21);
}

